[user]
	name = yomotsu
	email = oyamada@pxgrid.com
[github]
	user = yomotsu
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff ¥"$LOCAL¥" ¥"$REMOTE¥"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh ¥"$LOCAL¥" ¥"$REMOTE¥" -ancestor ¥"$BASE¥" -merge ¥"$MERGED¥"
	trustExitCode = true
[alias]
	# typo
	rbanch = branch